.trainer-wrapper {

    .header {
        display: flex; 
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 20px;

        &__title {
            display: inherit;
            flex-grow: 2;
            align-items: center;
            justify-content: center;
            font-size: x-large;
            font-weight: 700;
        }
    }

    .cards-grid {

        display: flex; 
        flex-flow: row wrap;

    }

    

}
