<div class="trainers-wrapper">
  <div class="header">
    <div class="header__title">
      Pokemons Trainer Index
    </div>
    <button mat-icon-button aria-label="Button to create new Trainer"
      (click)="addTrainer()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <div class="cards-grid">
    <mat-card class="trainer-card" *ngFor="let trainer of trainers$ | async"
        (click)="viewTrainer(trainer)">
      <mat-card-header>
        <mat-card-title>{{ trainer.name }}</mat-card-title>
        <mat-card-subtitle>Instagram: &#64;{{ trainer.instagramLink }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Number of Pokemons: {{ trainer.pokemons?.length }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>